<div class="flex-container">
  <mat-card>
    <mat-card-header>
      <h2>username</h2>
      <h3>Id number: </h3>
      <h3>role</h3>
      <h3>firstName lastName</h3>
      <h3>email</h3>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <div class="flex-container-user-options">
        <div class="option">
          <a mat-button="text-align: left;">Orders</a>
          <a mat-button style="text-align: right;">Addresses</a>
        </div>
        <div class="option">
          <a mat-button style="text-align: left;">Change Password</a>
          <a mat-button style="text-align: right;">Update Information</a>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>