<div class="flex-container">
  <mat-card>
    <mat-card-header>
      <div class="flex-container">
        <h2>ADMIN PANEL</h2>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <div class="flex-container">


        <div class="horizontal-layout">
          <div class="user-li" *ngFor="let user of usersArray">
            <button mat-raised-button extended (click)="openUserDialog(user)">
              <mat-icon>manage_accounts</mat-icon>
              {{ user.username }}
            </button>
          </div>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>