<div class="flex-container">
  <mat-card>
    <mat-card-header>
      <img class="avatar" mat-card-avatar src="../../../assets/my_profile.jpg">
      <h2>Arpit Rupakhetee</h2>
      <h2>rupakhetee@gmail.com</h2>

      <div class="flex-container-links">
        <button class="icon-button icon-button-git" mat-mini-fab color="primary" aria-label="github icon"
          (click)="openLink('https://github.com/ArpitRupa')">
          <mat-icon class="link-icon" svgIcon="git-icon"></mat-icon>
        </button>

        <button class="icon-button icon-button-linkedin" mat-mini-fab color="primary" aria-label="linkedin icon"
          (click)="openLink('https://www.linkedin.com/in/arpitrupa/')">
          <mat-icon class="link-icon" svgIcon="linkedin-icon"></mat-icon>
        </button>
      </div>
    </mat-card-header>
  </mat-card>
</div>