<div class="flex-container">
  <mat-card>
    <mat-card-header>
      <div class="flex-container">
        <h2> Addresses </h2>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="flex-container">
        <div class="flex-container-links">
          <button class="icon-button" mat-mini-fab color="success" aria-label="add icon"
            (click)="openAddressInputDialog()">
            <mat-icon class="link-icon">add</mat-icon>
          </button>
          <!-- <button class="icon-button" mat-mini-fab color="warn" aria-label="linkedin icon">
            <mat-icon class="link-icon"> delete </mat-icon>
          </button> -->
        </div>
      </div>
      <div class="flex-container">
        <mat-card class="address-card">
          <mat-card-content>

          </mat-card-content>

        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>