<div class="card-parent-div">

  <mat-card>
    <mat-card-header>
      <h1 style="padding-left: 10px;">Change Password</h1>
    </mat-card-header>
    <mat-card-content>
      <form class="full-width" [formGroup]="changePasswordForm">.

        <div class="flex-container">
          <mat-icon color="primary" fontIcon="lock" />
          <mat-form-field class="full-width">
            <mat-label>Current Password</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password"
              formControlName="currentPassword">
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility('password')">
              <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-error *ngIf=" changePasswordForm.get('currentPassword')?.invalid">Cannot be blank.</mat-error>
          </mat-form-field>
        </div>

        <div class="flex-container">
          <mat-icon color="primary" fontIcon="key" />
          <mat-form-field class="full-width">
            <mat-label>New Password</mat-label>
            <input [type]="hideNewPassword ? 'password' : 'text'" matInput placeholder="New Password"
              formControlName="newPassword">
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility('newPassword')">
              <mat-icon>{{ hideNewPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-error *ngIf=" changePasswordForm.get('newPassword')?.invalid">Please enter a new password.</mat-error>
          </mat-form-field>
        </div>

        <div class="flex-container">
          <mat-icon color="primary" fontIcon="key" />
          <mat-form-field class="full-width">
            <mat-label>Confirm New Password</mat-label>
            <input [type]="hideConfirmNewPassword ? 'password' : 'text'" matInput placeholder="Confirm New Password"
              formControlName="confirmNewPassword" />
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility('confirmNewPassword')">
              <mat-icon>{{ hideConfirmNewPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-error *ngIf="passwordMismatch">New passwords do not match.</mat-error>
          </mat-form-field>
        </div>

        <div class="update-password-buttons">
          <button style="width:50%" mat-raised-button color="primary" (click)="submitPasswordChange()">Submit</button>
          <a style="width:50%" routerLink="/account" mat-raised-button color="accent">Cancel</a>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

</div>