<div class="flex-container">
  <mat-card>
    <mat-card-header>
      <h3>
        Create a Product Listing
      </h3>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <form [formGroup]="productForm">
        <div class="flex-container">

          <mat-form-field class="full-width">
            <input matInput placeholder="Product Name" formControlName="productName"
              (keypress)="validateInput('productName')">
            <mat-error *ngIf="productForm.get('productName')?.invalid"> Please enter a valid Product Name.</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <textarea matInput placeholder="Product Description (5-5,000 characters)"
              formControlName="productDescription" (keypress)="validateInput('productDescription')"></textarea>
            <mat-error *ngIf="productForm.get('productDescription')?.invalid"> Please enter a valid Product
              Description.</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <span matPrefix>$</span>
            <input matInput type="number" placeholder="Price" formControlName="productPrice" step="0.01"
              pattern="\d+(\.\d{1,2})?" (keypress)="validateInput('productPrice')">
            <mat-error *ngIf="productForm.get('productPrice')?.invalid"> Please enter a valid Product Price.</mat-error>

          </mat-form-field>

          <div>
            <button (click)="fileInput.click()">
              <span>Upload Images (Max 5)</span>
            </button>
            <input type="file" accept="image/*" #fileInput (change)="onFileSelected($event)" style="display: none;"
              multiple>
          </div>

          <div *ngIf="selectedFiles.length > 0">
            <h4>Selected Files:</h4>
            <ul>
              <li *ngFor="let file of selectedFiles">
                {{ file.file.name }}
                <img style="width: 100%;" [src]="file.dataURL" alt="{{ file.file.name }}" *ngIf="file.dataURL">
              </li>

            </ul>
          </div>

        </div>
      </form>
    </mat-card-content>

    <div class="flex-container">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="postListing">Post Listing</button>
      </mat-card-actions>
    </div>

  </mat-card>
</div>