.app-name {
    float: right;
    margin-right: 50px;
    font-size: x-large;
}

section {
    margin-left: 50px;
    margin-right: 50px;
}


img {
    border-radius: 10px;
    height: 75%;
    width: auto;
}

.toolbar-spacer {
    flex: 1 1 auto;
}