<div class="flex-container">
  <mat-card>
    <mat-card-content>
      <div class="flex-container" style="flex-direction: column;">

        <div class="flex-container">
          <h2>
            Welcome!
          </h2>
        </div>
        <div>
          <h3> Introduction </h3>

          <p>
            Hello and welcome! I am graduate from the <strong>University of Virginia (Winter 2021)</strong>, where I had
            the privilege of honing my skills in both engineering and professionalism. My journey through university
            life has been challenging, yet immensely rewarding. I thank you for your time engaging with my full-stack
            web application.
          </p>

          <h4>
            My Hobbies:
          </h4>
          <p>
            <em>Whittling</em> is my creativity outlet. There's something strangely satisfying about taking a plain
            block and turning it into something entirely unique and personal. It's like a therapy session for the
            wood and me!
          </p>

          <p>
            I'm also a <em>DIY enthusiast</em>. Getting my hands dirty and figuring out how things work is my kind of
            fun. If I can save a buck or two in the process, well, that's a bonus!
          </p>

          <p>
            <em>Gaming</em> is the ultimate escape from reality, where I get to explore new worlds, tackle epic quests,
            and experience some of the most mind-blowing stories ever crafted.
          </p>

          <p>
            Whether it's carving a new trinket, fixing the annoying squeaky noise my car makes when I brake, or trying
            to figure out just what exactly happened in Blackwater, I'm always looking for that next adventure!
          </p>
          <p>
            Now, let's delve into my experiences and learn more about my exciting journey as a software developer.
          </p>

        </div>
        <mat-divider></mat-divider>
        <div>
          <h3> At the University </h3>

          <p>
            My academic journey at the University of Virginia was a dynamic one marked with my willlingness to explore
            multiple paths. I started my journey pursuing a degree in <strong>Mechanical Engineering</strong>, later
            moved on to <strong> Computer Engineering </strong> until I finally found my passion in Computer Science.
          </p>

          <p>
            During my time at the University of Virginia, I immersed myself in a wide range of experiences that helped
            me grow both as an engineer and as an individual. I undertook <em>coursework</em>,club activities
            <em>internships</em>, and <em>club activities</em> that have collectively helped me to hone
            my abilities.
          </p>

          <h4> Coursework </h4>
          <p>
            Some of the highlights of my coursework were <em>"Introduction to Machine Learning"</em>, <em> "Programming
              and Data Representation" </em>, <em>"Web Programming Languages"</em>, and <em>"Database Management"</em>.
          </p>
          <p>
            <em>"Introduction to Machine Learning"</em> gave me an opportuntiy to develop Machine Learning
            Algorithms, prior to
            the
            release of ChatGPT. I had never really given artifical intelligence much of a thought, but the course really
            opened my eyes to what would end up being one of the biggest developments in software. When ChatGPT was
            relased in the final quarter of 2022, I felt I was already ahead in terms of understanding the technology,
            thanks to the foundation I had built while taking this class at the University of Virginia.
          </p>

          <p>
            <em>"Programming and Data Representation"</em> was a class that I hated taking while I was in the
            class, but I will
            forever be grateful to haven taken. It covered topics which many students would consider 'dry' as it
            primarily focused on the foundations of programming and how code is translated down into something hardware
            could understand. Although I didn't fully understand its importance at the time, I later developed a deep
            appreciation for the class, as it played a pivotal role in establishing my foundations as a Software
            Engineer.
          </p>

          <p>
            <em>"Web Programming Languages"</em> and <em>"Database Management"</em> were two courses
            that I found particularly intriguing.
            What interested me the most was the relationship between them. "Web Programming Languages" delved into the
            realms of PHP and JavaScript, equipping me with the skills to build dynamic and interactive web
            applications. Surprisingly, this knowledge played a key role when I took "Database Management," where I
            navigated the intricacies of MySQL. The synergy between the two courses reinforced how web applications and
            databases are connected, making it an experience I am very grateful for.
          </p>

          <h4> Other Experiences </h4>

          <p>
            I also had the opportunity to gain hands-on experience through internships that were critical in the
            progression of my career. My time at a local startup called HackCville, now known as Forge, introduced me to
            the world of web development. I got exposed to React (both JavaScript and Native) and JavaScript. In this
            dynamic environment, we operated in an agile setup, conducting daily stand-up meetings to track our team's
            progress. This was my first exposure to the collaborative and fast-paced agile atmosphere.
          </p>

          <p>
            Another valuable internship allowed me to explore mobile development. I had the task of analyzing
            application patterns in both iOS and Android apps, ultimately creating a script for automating the process
            of developing standardized ("cookie cutter") apps. This experience, although mostly independent, involved
            regular reporting to my supervisor.
          </p>


          <p>
            Beyond my formal coursework and internships, my passion for gaming led me to join the <em> UVA Student Game
              Development </em> club. Using Unity as our game engine and C# as our coding language, I embarked on a
            two-year journey creating games. I gained significant experience collaborating within a team and even took
            on a leadership role in my final year.
          </p>

        </div>

        <mat-divider></mat-divider>

        <div>
          <h3> Post Graduation </h3>

          <p>
            Following my graduation in 2021, I encountered a unique set of circumstances that resulted in a gap of
            nearly one year in my employment journey. In the early part of 2022, the global challenges posed by the
            COVID-19 pandemic presented unexpected obstacles in my job search. The uncertain times made it particularly
            difficult for me to obtain employment despite my best efforts.
          </p>

          <p>
            As the year progressed, a family emergency further extended this employment gap, requiring my full attention
            and dedication. This unanticipated event demanded my immediate focus and care, temporarily taking me out of
            commission from the employment market. It wasn't until almost the fall of 2022 that I was able to re-engage
            in my pursuit of career opportunities; where I landed my first job opportuntiy with Smoothstack Inc.
          </p>

          <h4> DevOps at Smoothstack Inc. </h4>

          <p>
            My experience as a <strong>DevOps Apprentice at SmoothStack Inc</strong>. was a pivotal in my professional
            career. In this
            role, I had the opportuntiy of collaborating with my cohort to deploy and oversee a full-stack application
            provided to us by the full-stack team. This experience was the last step for me in experiencing the full
            life cycle for a piece of software. From designeing while at the University of Virgina, to developing during
            my internships, to deploying at SmoothStack, my experiences helped me gain a comprehensive understanding of
            how these phases were linked to create a fully functioning application.
          </p>

          <p>
            My time as a DevOps Apprentice at SmoothStack Inc. was truly transformative. It exposed me to a wide range
            of new technologies, expanding my technical skills. It provided a unique opportunity to develop abilities
            that I hadn't fully explored during my academic journey at the University of Virginia.
          </p>

          <p>
            Not only did I enhance my technical abilites, but I also improved my ability to work effectively with
            others. Collaboration was essential in the fast-paced environment of this apprenticeship.
            Overall, my experience at SmoothStack significantly contributed to my professional growth, offering me a
            comprehensive understanding of software development and deployment.
          </p>

        </div>


        <mat-divider></mat-divider>

        <div>
          <h3> Looking Ahead </h3>

          <p>
            As I move forward, I'm excited about the path ahead. I'm eager to bring my skills and experiences into the
            professional world. I'm open to new challenges and opportunities and look forward to making a meaningful
            contribution in the realm of software engineering. I am confident that my understanding of software
            development life cycles, in addtion to my technical proficiency, will make me a valuable addition to any
            team. Thank you for considering me as a part of your team, and I can't wait to see what the future holds.
          </p>

        </div>
        <mat-divider></mat-divider>
        <p>
          Thank you,
        </p>
        <h2 style="font-family: 'Great Vibes', cursive">
          Arpit Rupakhetee
        </h2>
      </div>

    </mat-card-content>
  </mat-card>
</div>